#map { 
    height: 80vh;
    width: 60vw;
    margin-left: auto; 
}

aside {
    width: 20%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    font-size: 20px;
    color: #29627e;
  }

  #login {
    float: right;
    position: fixed;
    top: 2rem;
    right: 11rem;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

body {
    background-color: rgb(221, 213, 210);
}