* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, sans-serif;
  height: 100%;
}

body {
  background-image: linear-gradient(rgb(133, 118, 114), rgb(202, 186, 181));
}

.top_elements {
  width: 80%;
  margin: auto;
  display: flex;
}

.user_input {
  width: 60%;
  margin: auto;
  text-align: center;
}


.filter_selection {
  display: block;
  margin: auto;
  margin-top: 5px;
  width: 5rem;
  border: 0;
}

.login {
  margin-top: 1rem;
  margin: auto;
  text-align: center;
  width: 20%;
}

.login_form {

}
#username {
  display: block;
  margin: auto;
  width: 5rem;
}

#passw {
  display: block;
  margin: auto;
  width: 5rem;
}

#submit {
  margin: 1rem;
  display: block;
  margin: auto;
}

#logged {
  width: 40%;
  margin: auto;
  display: none;
}

#avatar {
  width: 60%;
  margin: 1rem;
  min-width: 5rem;
  border-style: groove;
}

#profile-buttons {
  margin: auto;
}

.profile-button {
  background-color: rgb(112, 83, 83);
  padding: 5px;
  border-radius: 3px;
  text-wrap: nowrap;
  width: 100%;
  cursor: pointer;
  margin: auto;
  margin-bottom: 5px;
  border: solid;
  border-color: rgb(65, 47, 47);
}

.profile-button:hover {
  background-color: rgb(197, 172, 172);
}

#login-modal {
}

#pw {
  margin-top: 0.5rem;
}


#register {
  font-weight: bold;
  width: fit-content;
  margin: auto;
  padding: 5px;
  margin-bottom: 5px;
  color: rgb(37, 23, 20);
  border-radius: 8px;
  background-color: rgb(112, 83, 83);
}

#register:hover {
  cursor: pointer;
}

.bottom_elements {
  width: 80%;
  margin: auto;
  display: flex;
}



#map {
  width: 70%;
  height: 60dvh;
  border-radius: 1rem;
  margin-right: 3rem;
}

.info {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: 30%;
  border-style: solid;
  border-radius: 8px;
  background-image: linear-gradient(rgb(202, 186, 181), rgb(133, 118, 114) );
}

ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0;
  margin-bottom: 0;
}

li {
  width: fit-content;
  margin-left: 1rem;
  /* remove margin with mediaquery */
}

li a {
  font-weight: bold;
  font-size: calc(0.8dvw + 0.8dvh);
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 0.5rem;
}

li a:hover {
  background-color: rgb(95, 84, 82);
}

#bg {
  width: 100%;
  padding: 1rem;
  background-color: rgb(95, 84, 82);
}

#info_paragraph {
  text-align: center;
  margin-top: 0;
  padding-top: 1rem;
  color: rgb(218, 209, 209);
}

@media screen and (max-width: 1200px) {
  ul {
    display: block;
    margin: auto;
    width: initial;
  }
  li {
    overflow: hidden;
    margin: 0;
  }
  #daily {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .bottom_elements {
    display: block;
    width: 100%;
  }
  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    margin-bottom: 0;
  }
  #restaurant_info {
    margin-right: 1rem;
  }
  .info {
    width: 100%;
    margin-top: 2rem;
  }

  #map {
    width: 100%;
  }
}
